{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Viktor - 服务{% endblock %}

{% block page_content %}
</br>
</br>
</br>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-linux fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">升级系统</div>
                        <div>Update.</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">支持CentOS6，7</span>
                    <a href="{{ url_for('service.Update') }}"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-desktop fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">JAVA</div>
                        <div>java环境的安装.</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">支持CentOS6，7</span>
                    <a href="{{ url_for('service.Java') }}"<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-laptop fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Node</div>
                        <div>node环境的安装!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">支持CentOS6，7</span>
                    <a href="{{ url_for('service.Node') }}"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-flash fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Nginx</div>
                        <div>Nginx环境的安装!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">支持CentOS6，7</span>
                    <a href="{{ url_for('service.Nginx') }}"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Redis</div>
                        <div>Redis环境的安装!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">支持CentOS6，7</span>
                    <a href="{{ url_for('service.Redis') }}"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cube fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Rabbitmq</div>
                        <div>Rabbitmq消息队列!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">支持CentOS6，7</span>
                    <a href="{{ url_for('service.Rabbitmq') }}"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Mysql</div>
                        <div>MySQL数据库环境!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">只支持CentOS7系列</span>
                    <a href="{{ url_for('service.Mysql') }}"><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">文件传输</div>
                        <div>以后会支持的!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">暂未支持, 以后更新</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
