{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Viktor - 添加项目组{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated %}
    <div class="row">
        <div class="col-md-8 col-md-offset-6">
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    添加新项目组
                </div>
                <div class="panel-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div
    </div>
    {% endif %}
{% endblock %}
